*{
    margin:0;
    padding:0;
}
body{
    font-size:16px;
}
li{
    list-style:none;
}
.logo{
    width:100%;
    text-align:center;
    margin:20px 0 50px 0;
}
.logo h4{
    cursor:pointer;
    font-size:35px;
    letter-spacing:2px;
    margin-top:20px;
    margin-bottom:5px;
}
.logo h4:hover{
    color:#ce8460;
}
.nav{
    width:100%;
    border-top:1px solid #cccccccc;
    border-bottom:1px solid #cccccccc;
}
.nav>ul{
    display:flex;
    justify-content:center;
    padding:20px 0;
}
.nav>ul>li{
    position:relative;
    list-style:none;
    margin:0 20px;
}
.nav ul li a{
    color:#333;
    text-decoration: none;

}
.nav ul li a:hover{
    color:#ce8460;
}
.nav ul li ul{
    display:none;
    position:absolute;
    top:30px;
    left:0px;
    background:#f2f2f2;
    padding:10px;
    width:80px;
}
.nav ul li li{
    margin:5px 0;
}
.nav ul li:hover ul{
    display:block;
}
.banner{
    width:850px;
    margin:20px auto;
}
.banner img{
    width:100%;
}
.about{
    width:850px;
    margin:auto;
}
.about h3{
    display:flex;
    align-items:center;
    color:#ce8460;
    font-size:24px;
}
.about h3::before{
    content:'';
    display:inline-block;
    width:5px;
    height:25px;
    margin-right:10px;
    background:#ce8460;
}
.about p{
    line-height: 1.8;
    margin:20px 0;
    text-indent:2em;
}
.video{
    margin:20px 0;
}
.footer{
    background:#333333;
    width:100%;
    color:#fff;
    padding:9px 0;
    text-align:center;
}
